body {
  margin: 0;
  font-family: 'Bitter', 'Fira Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Fira Code, source-code-pro, Consolas, 'Courier New',
    monospace;
}
